title {
    font-family: Arial;
    font-size: 20px;
    color: red;
    background-color: skyblue;
    text-align: center;

}

body {
    background-color: skyblue;
    font-family: Arial;
    font-size: 16;
    color: darkblue;
    text-align: center
}





    